<div class="footer">
  <div class="contacts">
    <div class="contacts__email">
      <div><mat-icon>email</mat-icon></div>
      <h3>Email</h3>
      <p>bandenieks.juris@gmail.com</p>
    </div>
    <div class="contacts__phone">
      <div><mat-icon>phone</mat-icon></div>
      <h3>Phone</h3>
      <p>
        +1 (672) 515-5453 <br />
        +371 26 00 27 25
      </p>
    </div>
  </div>
  <div class="social container">
    <div class="social__author">
      <p>
        Juris Bandenieks &nbsp;<span class="social__author--dark"
          >&copy; 2021</span
        >
      </p>
    </div>
    <div class="social__icons">
      <a href="https://www.linkedin.com/in/juris-bandenieks-8b6078155/"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="https://gitlab.com/jurisbandenieks"
        ><i class="fab fa-gitlab"></i
      ></a>
    </div>
  </div>
</div>
