<mat-card class="project">
  <mat-card-header class="project__header">
    <mat-card-title>{{ project.title }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="project.image"
    alt="Project image"
    class="project__image"
  />
  <mat-card-actions class="project__actions">
    <a mat-button color="primary" [href]="project.link">Website</a>
    <a mat-button color="primary" (click)="openDialog()">Description</a>
    <a
      mat-button
      color="primary"
      *ngIf="project.gitlab.code"
      [href]="project.gitlab.code"
      >Source</a
    >
  </mat-card-actions>
</mat-card>
