@import "../../../sass/base.scss";

.project {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    height: 10%;
  }

  &__image {
    height: 70%;
  }

  &__actions {
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    a,
    button {
      margin: 5px;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }
}
