<div class="about">
  <div class="container">
    <h1 class="headline">About</h1>
    <div class="divider"></div>
    <h3 class="subheadline">Let me tell you a little about myself</h3>
    <div class="bio">
      <div class="bio__picture"></div>
      <div class="bio__story">
        <p>
          I come from a small town in Latvia, but currently I work and live in
          the beautiful British Columbia, Canada. Because of my love for
          developing web applications and websites, I commit my everydays' free
          time for professional growth watching programming courses and doing
          personal projects.
        </p>
      </div>
    </div>
  </div>
  <div class="skills">
    <div class="container">
      <h2 class="headline">Skills</h2>
      <div class="divider"></div>
      <app-skills *ngFor="let skill of skills" [skill]="skill"></app-skills>
    </div>
  </div>

  <div class="container courses">
    <h2 class="headline">Courses</h2>
    <div class="divider"></div>
    <div class="courses__items">
      <app-courses
        *ngFor="let course of courses"
        [course]="course"
      ></app-courses>
    </div>
  </div>
</div>
