@import "../../sass/base.scss";

.about {
  width: 100%;
  margin-top: calc(#{$height-header} + 4rem);
  margin-bottom: calc(#{$height-footer} + 6rem);
}

.bio {
  height: 320px;
  width: 100%;
  display: flex;
  margin-top: 3rem;

  @include respond(phone) {
    height: 1100px;
  }
  &__picture {
    width: 20%;
    height: 100%;
    background-image: url("../../assets/img/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(phone) {
      display: none;
    }
  }
  &__story {
    width: calc(80% - (2 * 2rem));
    padding: 2rem;
    line-height: 24px;
    background-color: $color-light;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.skills {
  margin-top: 4rem;
  padding: 5rem 0;
  background-color: $color-secondary;
}

.courses {
  margin-top: 5rem;

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
}
