@import "../../../sass/base.scss";

.course {
  height: 100%;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    &:not(:first-child) {
      margin-left: 8px;
    }
    i {
      font-size: 20px;
      border: 1.5px solid $color-primary;
      color: $color-primary;
      border-radius: 100%;
      padding: 8px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $color-primary-dark;
        color: $color-font-light;
        border: 1.5px solid $color-primary;
      }
    }
  }
}
