@import "../../../../sass/base.scss";

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 100%;
  height: 100%;

  &__side {
    height: 100%;
    transition: all 0.7s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &--front {
      background-color: $color-primary;
    }

    &--back {
      background-color: $color-secondary;
      transform: rotateY(180deg);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__front-content {
    position: absolute;
    @include absCenter;
    width: 100%;
    text-align: center;
    color: $color-font-light;
    font-size: $font-medium;
  }

  &__icon {
    font-size: 28px;
  }

  &__paragraph {
    color: $color-font-light;
    font-weight: 400;
    line-height: 24px;
    padding: 0 1rem;
  }
}

.turn-around {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: $color-font-light;
}
