<mat-nav-list>
  <mat-list-item routerLinkActive="active"
    ><a [routerLink]="['/work']" (click)="onClose()" class="link start-centered"
      ><mat-icon>web</mat-icon> <span class="nav-caption">Work</span>
    </a></mat-list-item
  >
  <mat-list-item routerLinkActive="active"
    ><a
      [routerLink]="['/resume']"
      (click)="onClose()"
      class="link start-centered"
      ><mat-icon>folder</mat-icon> <span class="nav-caption">Resume</span>
    </a></mat-list-item
  >
</mat-nav-list>
