<div class="work">
  <div class="container">
    <h1 class="headline">My Work</h1>
    <div class="divider"></div>
    <div class="work__items">
      <app-project
        *ngFor="let project of projects"
        [project]="project"
      ></app-project>
    </div>
  </div>
</div>
