@import "../../../sass/base.scss";

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  height: $height-header;
  z-index: 1000;

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 50px;
    img {
      height: 100%;
    }
  }

  &__routes {
    display: flex;
    a {
      text-decoration: none;
      color: $color-primary;

      &:hover {
        color: $color-primary-dark;
      }
    }
    li {
      list-style: none;
      font-size: 20px;
    }
    li:not(:last-child) {
      margin-right: 3rem;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__navigation-mobile {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    @media only screen and (min-width: 601px) {
      display: none;
    }
  }
}
