@import "../../../sass/base.scss";

$height-margin-bottom: 2rem;

.showcase {
  width: 80%;
  margin: 5rem auto calc(#{$height-footer} + #{$height-margin-bottom}) auto;
  height: 600px;
  @include respond(phone) {
    height: 1600px;
    margin: 4rem auto calc(#{$height-footer-mobile} + #{$height-margin-bottom})
      auto;
  }

  &__items {
    margin-top: 3rem;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-auto-rows: 325px;
      grid-column-gap: 0;
      grid-row-gap: 15px;
    }
  }
}
