<div class="showcase">
  <h1 class="headline">About</h1>
  <div class="divider"></div>
  <h3 class="subheadline">
    Hello my name is Juris and I love not just building and making projects but
    also to learn new technologies to open myself and clients for new
    opportunities
  </h3>
  <div class="showcase__items">
    <app-showcase-item
      *ngFor="let info of aboutInfo"
      [info]="info"
    ></app-showcase-item>
  </div>
</div>
