@import "../../sass/base.scss";

.landing {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/19951.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  animation: blur-in 3s;

  &__content {
    position: absolute;
    width: 40%;
    text-align: center;
    @include absCenter;
    @include respond(phone) {
      width: 90%;
    }
  }

  &__headline {
    font-size: $font-big;

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation: from-left 3s;
    @include respond(phone) {
      line-height: 40px;
    }
  }

  &__divider {
    border-bottom: 1px solid $color-primary;
    margin-bottom: 1rem;
  }

  &__subheadline {
    font-size: $font-medium;

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation: from-right 3s;
  }
}
