@import "../../sass/base.scss";

.resume {
  width: 100%;
  margin-top: calc(#{$height-header} + 4rem);
  margin-bottom: calc(#{$height-footer} + 4rem);

  &__experience {
    margin: 3rem 0;
  }

  &__title {
    color: $color-primary-dark;

    table,
    tr {
      width: 100%;
      td {
        &:first-child {
          width: 80%;
        }
        @include respond(phone) {
          &:last-child {
            display: none;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__date {
    color: $color-primary;
    margin-top: 1rem;
  }

  &__tasks {
  }

  &__education {
    margin-top: 1.5rem;
    &:first-child {
      margin-top: 3rem;
    }
    &:not(:last-child) {
      padding-bottom: 1.5rem;
      border-bottom: solid 1px $color-grey-light;
    }

    h3 {
      margin: 0 0 5px 0;
      &:first-child {
        color: $color-primary;
      }
      &:nth-child(2) {
        color: $color-primary-dark;
      }
    }
  }
}
