<div class="resume">
  <div class="container">
    <h1 class="headline">Resume</h1>
    <div class="divider"></div>
    <h2 class="subheadline">Experience</h2>
    <div class="resume__experience" *ngFor="let exp of experience">
      <h3 class="resume__title">
        <table>
          <tr>
            <td>
              <a [href]="exp.company.url">{{ exp.company.name }}</a> <br />
              {{ exp.position }}
            </td>
            <td><mat-icon>location_on</mat-icon> {{ exp.company.location }}</td>
          </tr>
        </table>
      </h3>
      <mat-divider></mat-divider>
      <p *ngIf="exp.fullTime" class="resume__date">
        {{ exp.fullTime }} (Full time)
      </p>
      <p *ngIf="exp.freelance" class="resume__date">
        {{ exp.freelance }} (Freelance)
      </p>
      <p class="resume__description">{{ exp.company.description }}</p>
      <ul class="resume__tasks">
        <li *ngFor="let task of exp.tasks">{{ task }}</li>
      </ul>
    </div>

    <h2 class="subheadline">Education</h2>
    <div class="resume__education" *ngFor="let edu of education; let i = index">
      <h3>{{ edu.degree }} - Graduated</h3>
      <h3>{{ edu.major }}</h3>
      <h3>{{ edu.school.name }}</h3>
    </div>
  </div>
</div>
