@import "./theme.scss";

/* You can add global styles to this file, and also import other style files */
@import "./sass/base.scss";

body {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-light;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.start-centered {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.end-centered {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.justified-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  text-align: center;
  font-size: $font-medium;
}

.divider {
  width: 3rem;
  margin: 0 auto;
  border-bottom: 2px solid $color-primary;
  margin-bottom: 1rem;
}

.subheadline {
  width: 50%;
  margin: 0 auto !important;
  text-align: center;
  @include respond(phone) {
    width: 90%;
  }
}

.active {
  color: $color-primary-dark;
}
